.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url("../assets/WallPaper 23.png") no-repeat center center/cover;
  color: #f5e7ce;
  text-align: center;
}

.hero-content {
  animation: fadeIn 2s ease-in-out;
}

.hero-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 1rem;
  animation: bounce 2s infinite;
}

.hero-title {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.hero-subtitle {
  font-size: 1.50rem;
  /* font-weight: bold; */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
