@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  background-color: #14181d;
  color: #f5e7ce;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1rem;
  margin-left: auto;
  margin-right: 1rem;
}

.navbar-links a {
  color: #f5e7ce;
  text-decoration: none;
  transition: color 0.3s;
  font-weight: bold;
}

.navbar-links a:hover {
  color: #f39c12;
}

.navbar-switch {
  margin-left: auto;
}
